#mainImage{
    height: 280px;
    width: 270px;
    object-fit: cover;
    vertical-align: middle;
    cursor: grab;
}

#footerDepth{
    height: 200px;
}

#footerText{
    position: absolute;
    left: 35px;
}