#mainImage{
    height: 280px;
    width: 270px;
    object-fit: cover;
    vertical-align: middle;
    cursor: grab;
}

#footerDepth{
    height: 100px;
}

#footerText{
    position: absolute;
    left: 35px;
}

#category-select1{
    margin-left: 100px;
}

#category-select2{
    padding-top: 20px;
    margin-left: 200px;
}