#section-info{
    height: 800px;
}
#entire-contents-box{
    margin-left: -40px;
}

#mainImage{
    height: 280px;
    width: 270px;
    background-size: cover;
    background-position: center;
    cursor: grab;
}
#main-contents{
    height: 600px;
    width: 270px;
    cursor: grab;
    padding: 0.0rem!important;
    margin-left: 50px;
}

#footerDepth{
    height: 100px;
}

#footerText{
    position: absolute;
    left: 35px;
}
#category-info{
    margin: auto;
    width: 600px;
    height: 200px;
    position:relative;
}
#category-select1{
    display: inline-block;
    width: 200px;
    margin: auto;
    text-align: center;
}

#category-select2{
    display: inline-block;
    width: 200px;
    margin: auto;
    text-align: center;
}

.pagination > li > a
{
    background-color: white;
    color: gray;
}

.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: gray;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: gray;
    border: solid 1px gray;
}

.pagination > .active > a:hover
{
    background-color: gray;
    border: solid 1px gray;
}

#subscribecard{
    text-align: center;
    display: inline-block;
}